{% load thumbnail %}
{% load jalali_tags %}
<main class="bg-white p-6 lg:py-8 lg:px-10 rounded-3xl dark:bg-zinc-900/90 animate-fadeInUp">
    <!-- About Me (Biography) / درباره من (بیوگرافی) -->
    <div class="mb-10">
        <div class="flex items-center text-slate-900 dark:text-slate-200 mb-2">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"/>
                <line x1="12" y1="16" x2="12" y2="12"/>
                <line x1="12" y1="8" x2="12.01" y2="8"/>
            </svg>
            <h2 class="mx-2 text-2xl font-bold">
                بیوگرافی
            </h2>
        </div>
        <p>
            این منم
        </p>
    </div>
    <!-- Work Exprience / سوابق کاری -->
    <div class="mb-10">
        <div class="flex items-center mb-4 text-slate-900 dark:text-slate-200">
            <svg class="w-6 h-6" viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
                <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
                <line x1="6" y1="1" x2="6" y2="4"></line>
                <line x1="10" y1="1" x2="10" y2="4"></line>
                <line x1="14" y1="1" x2="14" y2="4"></line>
            </svg>
            <h2 class="mx-2 text-2xl font-bold">
                سوابق شغلی
            </h2>
        </div>
        <!-- Sort: Newest to Oldest / مرتب سازی: جدیدترین تا قدیمی ترین -->
        <ul class="exp-menu-container">
            {% for field in work_experience %}
                <li class="exp-menu-item">
                    <div class="relative top-[-0.35rem] rtl:pr-4 ltr:pl-4">
                        <div class="text-xl font-semibold text-slate-700 mb-2 dark:text-slate-400">
                            {{ field.title }}
                        </div>
                        <div class="text-sm text-slate-500">از{{ field.date_start_work|to_jalali:'%y/%d' }}
                            تا {{ field.date_start_work|to_jalali:'%y/%d' }}</div>
                        <p>{{ field.description }}</p>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
    <!-- Educational Background / سوابق تحصیلی -->
    <div class="mb-10">
        <div class="flex items-center mb-4 text-slate-900 dark:text-slate-200">
            <svg class="w-6 h-6" viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M18 8h1a4 4 0 0 1 0 8h-1"/>
                <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"/>
                <line x1="6" y1="1" x2="6" y2="4"/>
                <line x1="10" y1="1" x2="10" y2="4"/>
                <line x1="14" y1="1" x2="14" y2="4"/>
            </svg>
            <h2 class="mx-2 text-2xl font-bold">
                سوابق تحصیلی
            </h2>
        </div>
        <!-- Sort: Newest to Oldest / مرتب سازی: جدیدترین تا قدیمی ترین -->
        <ul class="exp-menu-container">
            {% for record in Educational_records %}
                <li class="exp-menu-item">
                    <div class="relative top-[-0.35rem] rtl:pr-4 ltr:pl-4">
                        <div class="text-xl font-semibold text-slate-700 mb-2 dark:text-slate-400">
                            {{ record.title }}
                        </div>
                        <div class="text-sm text-slate-500">از {{ record.date_start_work|to_jalali:'%y/%d' }}
                            تا {{ record.date_end_work|to_jalali:'%y/%d' }}</div>
                        <p>{{ record.description }}</p>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
    <!-- The Skills / مهارت ها -->
    <div class="mb-10">
        <div class="flex items-center mb-4 text-slate-900 dark:text-slate-200">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
                <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"/>
            </svg>
            <h2 class="mx-2 text-2xl font-bold">
                مهارت ها
            </h2>
        </div>
        <div class="grid grid-cols1 sm:grid-cols-2 gap-y-4 gap-x-6">
            {% for skill in skills %}
                <div>
                    <span class="inline-block font-medium text-slate-700 text-md mb-2 dark:text-slate-400">{{ skill.title }}</span>
                    <div class="w-full bg-primary/25 rounded-full">
                        <div class="progress-bar" style="width: {{ skill.Percent }}%;">
                            <span class="px-2">{{ skill.Percent }}%</span>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- The Languages / زبان ها -->
    <div class="mb-10">
        <div class="flex items-center mb-4 text-slate-900 dark:text-slate-200">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"/>
                <line x1="2" y1="12" x2="22" y2="12"/>
                <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"/>
            </svg>
            <h2 class="mx-2 text-2xl font-bold">
                زبان ها
            </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 gap-x-6">
            {% for language in languages %}
                <div class="flex items-center justify-between">
                    <span class="pl-2 font-medium text-slate-700 text-md dark:text-slate-400">{{ language.title }}</span>
                    <ul class="dot-container">
                        <li>
                            <h3>
                                {{ language.mastery_level }}
                            </h3>
                        </li>
                    </ul>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- The Favorites(Hobbies) / علاقه مندی ها -->
    <div class="mb-10">
        <div class="flex items-center mb-2 text-slate-900 dark:text-slate-200">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
                <polygon
                        points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
            </svg>
            <h2 class="mx-2 text-2xl font-bold dark:text-slate-200">
                علاقه ها
            </h2>
        </div>
        <div class="flex flex-wrap">
            {% for interest in interests %}
                <span class="favorite-item">{{ interest.title }}</span>
            {% endfor %}
        </div>
    </div>
    <!-- Work Samples / نمونه کارها -->
    <div class="mb-4">
        <div class="flex items-center mb-4 text-slate-900 dark:text-slate-200">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
            </svg>
            <h2 class="mx-2 text-2xl font-bold ">
                نمونه کارها
            </h2>
        </div>
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            {% for Work_sample in Work_samples %}
                <a href="#showModal{{ Work_sample.id }}" class="btn-modal">
                    <img data-href="#showModal{{ Work_sample.id }}" src="{{ Work_sample.avatar_project }}"
                         class="rounded-[2rem]"
                         alt="A wallpaper">
                </a>
            {% endfor %}
        </div>
        <!-- Modals -->
        {% for Work_sample in Work_samples %}
            <div id="showModal{{ Work_sample.id }}" class="modal hidden fixed z-30 inset-0 overflow-y-auto">
                <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                    <div class="modal-area fixed inset-0 bg-slate-500 bg-opacity-75 transition-opacity">
                    </div>
                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
                    <div
                            class="relative inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-xl sm:w-full">
                        <div
                                class="flex justify-between items-center p-5 rounded-t border-b dark:border-zinc-800  dark:bg-zinc-900">
                            <h3 class="text-xl font-bold text-slate-900 lg:text-2xl dark:text-slate-200">
                                {{ Work_sample.name_project }}
                            </h3>
                            <button type="button"
                                    class="btn-close text-slate-400 bg-transparent hover:bg-slate-200 hover:text-slate-900 rounded-lg text-sm p-1.5 rtl:mr-auto ltr:ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white"
                                    data-modal-toggle="defaultModal">
                                <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="p-6 space-y-6 dark:bg-zinc-900">
                            <img src="{{ Work_sample.avatar_project }}" class="rounded-[2rem]"
                                 alt="A music streaming mobile app design">
                            <p class="rtl:text-right ltr:text-left leading-relaxed text-slate-600 dark:text-slate-400">
                                {{ Work_sample.description }}
                            </p>
                        </div>
                        <div
                                class="flex items-center p-6 space-x-2 rounded-b border-t border-slate-200 dark:border-zinc-800  dark:bg-zinc-900">
                            <a href="#"
                               class="flex flex-row-reverse items-center text-white text-bold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg px-5 py-3 text-base text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900">
                                <p> لینک نمونه کار </p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                                     class="bi bi-box-seam" viewBox="0 0 16 16">
                                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>