<header class="py-4">
    <div class="flex justify-between items-center">
        <button id="toggleMenu" data-toggle="false" class="z-20  hover:cursor-pointer sm:hidden">
            <svg class="icon" id="menuIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"/>
                <line x1="3" y1="6" x2="21" y2="6"/>
                <line x1="3" y1="18" x2="21" y2="18"/>
            </svg>
            <svg id="closeIcon" class="hidden icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"/>
                <line x1="6" y1="6" x2="18" y2="18"/>
            </svg>
        </button>
        <div class="rtl:pr-2 ltr:pl-2 hidden sm:flex sm:items-center">
            <!-- Add "index.html" if you are not using a local server or host -->
            <a href="index.html" draggable="false" class="flex items-center rtl:ml-6 ltr:mr-6">
                <img src="/static/images/logo.svg" alt="iresume logo" draggable="false"
                     class="h-9 w-auto rtl:ml-2 ltr:mr-2 drag-none rounded-lg"/>
                <button style="font-size:24px">{{ my_models.name }} <i class="fa fa-check-square"></i>
            </a>
        </div>
        <div class="flex flex-row-reverse items-center rtl:gap-x-2 ltr:gap-x-1">
            <button id="toggleDarkMode" title="Press N to toggle dark mode">
                <svg class="icon hidden" id="moonIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
                <svg class="icon hidden" id="sunIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5"></circle>
                    <line x1="12" y1="1" x2="12" y2="3"></line>
                    <line x1="12" y1="21" x2="12" y2="23"></line>
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                    <line x1="1" y1="12" x2="3" y2="12"></line>
                    <line x1="21" y1="12" x2="23" y2="12"></line>
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
            </button>
            <!-- Add "en/index.html" if you are not using a local server or host -->
        </div>
    </div>
</header>